@model PontoTrabalho

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Endereco"></label>
    <input asp-for="Endereco" class="form-control" />
</div>