@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <h2>CONTRIBUIÇÃO DO PROBLEMA PROPOSTO</h2>
    <span>A mobilidade hoje, principalmente no Brasil, tem se adaptado a todas as circunstâncias e por esse motivo decidimos propor uma solução que facilite a mobilidade das pessoas que com mais pressa ou por motivos geográficos enxergam maior eficiência em se locomover através das motos. Portanto, criamos uma solução que funciona como um Uber apenas de mototáxi, onde o usuário pode se cadastrar como passageiro ou motorista e solicitar uma corrida de um determinado ponto ao outro. Assim deixando na mão do usuário a melhor maneira para ele se locomover. </span>
    
    <h2>FUNCIONALIDADES</h2>
    <span>
        No nosso sistema existem dois meios de se logar, se cadastrando como motorista, onde são pedidos alguns dados específicos para garantir que o usuário realmente pode dirigir e utilizar do nosso sistema para isso ou se cadastrando como passageiro
        A principal funcionalidade do nosso sistema é gerar uma corrida entre um motorista e um passageiro, então para isso o motorista pode cadastrar, editar ou excluir seus veículos no sistema e o passageiro pode ver todos os motoristas disponíveis para realizar a corrida. Assim selecionando o motorista que ele deseja, o local de origem e de chegada.
    </span>
</div>
